.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem; /* Increase gap for better spacing */
  list-style: none;
  padding: 2rem;
  overflow-x: auto; /* scrolling */
}

.cardContainer::-webkit-scrollbar {
  height: 10px; /* Make scrollbar slightly thicker */
}

.cardContainer::-webkit-scrollbar-thumb {
  background: #888; /* Lighter background for thumb */
  border-radius: 15px; /* More rounded edges */
}

.card {
  background-color: #2c2c2c; /* Slightly lighter background */
  border-radius: 15px; /* Larger border radius */
  overflow: hidden;
  width: 100%; /* Make cards fully responsive */
  flex: 0 0 auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Stronger shadow for a more prominent effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: start;
}

.card:hover {
  transform: translateY(-8px); /* Slightly stronger hover effect */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.image {
  position: relative;
  height: 400px; /* Increased height for better visuals */
  width: 100%;
  object-fit: cover; /* Ensure image covers area without distortion */
}

.headerText {
  padding: 15px;
}

.headerText h2 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 8px;
}

.headerText p {
  color: whote;
  font-weight: bold;
  font-size: 1.1rem;
}

.content {
  padding: 15px;
}

.summary {
  color: #ccc;
  font-size: 1rem; /* Increase font size for better readability */
  margin-bottom: 15px;
}

.actions {
  font-size: 1rem; /* Increase font size for actions */
  color: #bbb;
  text-align: right;
}
